body {
  background-color: #f6f6f6;
  overflow-y: scroll;
}

.fw-medium {
  font-weight: 500;
}

.fs-14 {
  font-size: 14px;
}

.author-img {
  width: 50px;
  height: 50px;
}

.view-icon {
  width: 24px;
}

.card-thumb {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card-thumb {
    width: 200px;
  }
}

.loading-animation {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes ldio-oa3ujtgkfe {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-oa3ujtgkfe div {
  box-sizing: border-box !important;
}
.ldio-oa3ujtgkfe > div {
  position: absolute;
  width: 74px;
  height: 74px;
  top: 13px;
  left: 13px;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #0d6efd transparent #0d6efd transparent;
  animation: ldio-oa3ujtgkfe 0.8695652173913042s linear infinite;
}

.ldio-oa3ujtgkfe > div:nth-child(2),
.ldio-oa3ujtgkfe > div:nth-child(4) {
  width: 64px;
  height: 64px;
  top: 18px;
  left: 18px;
  animation: ldio-oa3ujtgkfe 0.8695652173913042s linear infinite reverse;
}
.ldio-oa3ujtgkfe > div:nth-child(2) {
  border-color: transparent #20c997 transparent #20c997;
}
.ldio-oa3ujtgkfe > div:nth-child(3) {
  border-color: transparent;
}
.ldio-oa3ujtgkfe > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-oa3ujtgkfe > div:nth-child(3) div:before,
.ldio-oa3ujtgkfe > div:nth-child(3) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 31px;
  background: #0d6efd;
  border-radius: 50%;
  box-shadow: 0 70px 0 0 #0d6efd;
}
.ldio-oa3ujtgkfe > div:nth-child(3) div:after {
  left: -4px;
  top: 31px;
  box-shadow: 70px 0 0 0 #0d6efd;
}

.ldio-oa3ujtgkfe > div:nth-child(4) {
  border-color: transparent;
}
.ldio-oa3ujtgkfe > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-oa3ujtgkfe > div:nth-child(4) div:before,
.ldio-oa3ujtgkfe > div:nth-child(4) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  top: -4px;
  left: 26px;
  background: #20c997;
  border-radius: 50%;
  box-shadow: 0 60px 0 0 #20c997;
}
.ldio-oa3ujtgkfe > div:nth-child(4) div:after {
  left: -4px;
  top: 26px;
  box-shadow: 60px 0 0 0 #20c997;
}
.loadingio-spinner-double-ring-5f98qhnup3g {
  width: 58px;
  height: 58px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-oa3ujtgkfe {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.58);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-oa3ujtgkfe div {
  box-sizing: content-box;
}
